.bg {
    background-image: url("../../../public/planeta-zemlya.jpg");

    position: fixed;
    width: 43vw;
    height: 37vw;
    left: -100px;
    right: 0;
    bottom: 30px;
    background-size: cover;
    background-position: center;



    z-index: -1;
}

.titleContainer {

    display: flex;
    width: 375px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.title {
    font-family: 'Passion One', cursive;
    color: var(--orange-base);
}

.container {

    position: fixed;
}